<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot='start'><ion-back-button defaultHref="tabs"></ion-back-button></ion-buttons>
    <ion-title>Pedoman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style='margin-top : 30%'>
    <ion-row>
      <ion-col>
          <ion-button style='visibility : hidden;'>
              <ion-label>
                <ion-icon></ion-icon>
              </ion-label>
            </ion-button>
      </ion-col>
      <ion-col justify-content-center align-items-center>
          <ion-button style='height : 150%' expand='block' routerLink="/detail" >
              <ion-icon style='font-size : 2em' name="rocket"></ion-icon>
            <ion-label style='font-size : 2em'>&nbsp; &nbsp; MABA  &nbsp; &nbsp;</ion-label>
          </ion-button>
      </ion-col>
      <ion-col>
          <ion-button style='visibility : hidden;' >
              <ion-label>
                <ion-icon></ion-icon>
               
              </ion-label>
            </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style='margin-top : 10%'>
        <ion-col>
            <ion-button style='visibility : hidden;'>
                <ion-label>
                  <ion-icon></ion-icon>
                 
                </ion-label>
              </ion-button>
        </ion-col>
        <ion-col justify-content-center align-items-center>
            <ion-button style='height : 150%; ' expand='block' routerLink="/detail">
                <ion-icon style='font-size : 2em' name="rocket"></ion-icon>
              <ion-label style='font-size : 2em'>&nbsp; KAMBING</ion-label>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button style='visibility : hidden;' >
                <ion-label>
                  <ion-icon></ion-icon>
                 
                </ion-label>
              </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
    
</ion-content>
