
<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'><ion-back-button defaultHref="/"></ion-back-button></ion-buttons>
    <ion-segment  (ionChange)="segmentChanged()" [(ngModel)]="segment" color="warning" scrollable>
        <ion-segment-button value="0">
          <ion-label>Pedoman Maba</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>Pedoman Kambing</ion-label>
        </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
</ion-header>


  


<ion-content>
  

    
      
      <ion-menu  side="start" menuId="first" contentId="content1">
          <ion-toolbar>
            <ion-title>Daftar Isi</ion-title>
          </ion-toolbar>
          <ion-content>
            
            <ion-list>
              <ion-menu-toggle>
              <ion-item  (click)='ScrollToPoint(6,1)' color='light' lines='none'>
                  <ion-icon slot='end' name='menu'></ion-icon><ion-label>Etika 2</ion-label>
              </ion-item>
              </ion-menu-toggle>
              <ion-menu-toggle>
              <ion-item  (click)='ScrollToPoint(10,1)' color='light' lines='none'>
                  <ion-icon slot='end' name='menu'></ion-icon><ion-label>Etika 2</ion-label>
              </ion-item>
              </ion-menu-toggle>
              <ion-menu-toggle>
              <ion-item  (click)='ScrollToPoint(12,1)' color='light' lines='none'>
                  <ion-icon slot='end' name='menu'></ion-icon><ion-label>Etika 2</ion-label>
              </ion-item>
              </ion-menu-toggle>
              <ion-menu-toggle>
              <ion-item  (click)='ScrollToPoint(14,1)' color='light' lines='none'>
                  <ion-icon slot='end' name='menu'></ion-icon><ion-label>Etika 2</ion-label>
              </ion-item>
              </ion-menu-toggle>
              <ion-menu-toggle>
              <ion-item  (click)='ScrollToPoint(20,1)' color='light' lines='none'>
                  <ion-icon slot='end' name='menu'></ion-icon><ion-label>Etika 2</ion-label>
              </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-content>
      </ion-menu>

      <ion-router-outlet id="content1"></ion-router-outlet>
      
      
      <ion-slides pager='true' direction='vertical' #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
         
          <ion-slide>
              <ion-content  #content [scrollEvents]='true'> 
                <ion-fab vertical="top" horizontal="end" slot="fixed">
                  <ion-fab-button >
                    <ion-menu-button><ion-icon name='menu' (click)='firstUse()'></ion-icon></ion-menu-button>
                  </ion-fab-button>
                </ion-fab>
                <ion-card style=' margin-left : 0vw; margin-top : 0vw; margin-right : 0vw; margin-bottom : 0vw; margin-inline-start: 0vw; margin-inline-end: 0vw; padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>
                  <ion-card-content style='margin-left : 0vw; margin-top : 0vw; margin-right : 0vw; margin-bottom : 0vw; margin-inline-start: 0vw; margin-inline-end: 0vw; padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>
                    <ion-list style=' margin-left : 0vw; margin-top : 0vw; margin-right : 0vw; margin-bottom : 0vw; margin-inline-start: 0vw; margin-inline-end: 0vw; padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>
                      <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                        <div style='width : 100vw; height : 141vw; background : black; '>
                          
                          <img #maba1 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/1MABA.jpg" tappable >
                        </div>
                      </ion-item>
                      <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                        <div style='width : 100vw; height : 141vw; background : black; '>
                          
                          <img #maba2 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL1.jpg" tappable >
                          <div style='width: 100%; height : 100%; padding-top : 3vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                            <p style='font-size : 5vw; font-family : roboto;
                            background: -webkit-linear-gradient(rgb(184, 230, 20), rgb(214, 211, 4));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent; font-weight: bold;'>DESKRIPSI KEGIATAN</p>
                          </div>
                          <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                            <p style='font-size : 3.6vw;'>
                              Pengenalan Kehidupan Kampus Mahasiswa Baru 2019 ini dilaksanakan selama 6 hari pada bulan Agustus 2019. Di mana pada hari pertama merupakan acara Upacara Penyambutan Mahasiswa Baru yang bertempat di halaman Gedung Prakoso, kemudian dilanjutkan dengan penancapan bendera 11 Fakultas yang merupakan simbol dari Sinergi, Kesatria, Nagari. Acara dilanjutkan dengan kuliah umum dan penampilan dari Menwa.
                            </p>
                            <p style='font-size : 3.6vw; ' >
                              Hari kedua dan ketiga dilaksanakan di masing-masing fakultas. Kemudian di hari keempat dan kelima akan dilaksanakan kegiatan penanaman nilai-nilai dalam PKKMB 2019. Pada hari keenam yang merupakan acara puncak, dilaksanakan Student Vaganza oleh seluruh mahasiswa baru bertempat di Stadion UNS. Rangkaian acara ini terdiri dari berbagai kegiatan, mulai dari sambutan oleh rektor, pembuatan formasi, kuliah umum, dan kegiatan lainnya yang bersifat pengenalan dan orientasi kampus.
                            </p>
            
                          </div>
                          <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/1.png" tappable >
                        </div>
                      </ion-item>
                      <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                        <div style='width : 100vw; height : 141vw; background : black; '>
                          
                          <img #maba3 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL2.jpg" tappable >
                          <div style='width: 100%; height : 100%; padding-top : 3vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                            <p style='font-size : 5vw; font-family : roboto;
                            background: -webkit-linear-gradient(rgb(184, 230, 20), rgb(214, 211, 4));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent; font-weight: bold;'>TIMELINE PKKMB</p>
                          </div>
                          <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify;  ' >
                            <p style='font-size : 3.6vw; font-weight: bold; color : rgb(0,255,255)'>
                                6 Agustus - 9 Agustus 2019 SAMBARA UNIVERSITAS
                            </p>
                            <p style='font-size : 3.6vw;  '>
                                •	6 Agustus 2019 : Batas maksimal kumpul perdana Manggala dengan    kelompok Mahasiswa Baru
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	7 Agustus  2019 : Penyampaian Materi dari Manggala Universitas, Ice breaking, dan penugasan PKKMB UNS 2019 PURWABRATA.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	8 Agustus 2019 : Pengumpulan penugasan PKKMB UNS 2019 PURWABRATA
                            </p>
                            <br>
                            <p style='font-size : 3.6vw; font-weight: bold; color : rgb(0,255,255)'>
                                13 Agustus – 18 Agustus 2019 Purwabrata PKKMB UNS 2019
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	13 Agustus 2019	: Upacara Penyambutan Mahasiswa baru PKKMB Universitas
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	18 Agustus 2019	: Student Vaganza PKKMB
                            </p>
            
                          </div>
                          <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/2.png" tappable >
                        </div>
                      </ion-item>
                      <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                        <div style='width : 100vw; height : 141vw; background : black; '>
                          
                          <img #maba4 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL3.jpg" tappable >
                          <div style='width: 100%; height : 100%; padding-top : 3vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                            <p style='font-size : 5vw; font-family : roboto;
                            background: -webkit-linear-gradient(rgb(184, 230, 20), rgb(214, 211, 4));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent; font-weight: bold;'>PERATURAN PKKMB</p>
                          </div>
                          <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify;  ' >
                            <p style='font-size : 3.6vw; font-weight: bold; color : rgb(0,255,255)'>
                                Tata Tertib
                            </p>
                            <p style='font-size : 3.6vw;  '>
                                •	Mahasiswa Baru WAJIB datang dalam kegiatan PKKMB UNS 2019
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa Baru WAJIB datang tepat waktu sesuai jadwal yang telah ditentukan.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa Baru WAJIB mengerjakan tugas PKKMB yang diberikan oleh panitia PKKMB dengan baik dan sungguh-sungguh.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa baru DILARANG membawa senjata tajam, rokok, dan obat-obatan terlarang.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa Baru WAJIB membawa botol minuman sendiri pada saat kegiatan PKKMB UNS 2019 pada hari ke-1.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa Baru tidak diperbolehkan membawa kendaraan bermotor.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa Baru DILARANG membawa tas di hari keenam, kecuali membawa tas kecil dengan panjang maksimal 30cm.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa Baru hanya diperbolehkan membawa hp dan uang secukupnya serta barang lain yang dirasakan sangat urgent untuk digunakan.
                            </p>
                            
                            
            
                          </div>
                          <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/3.png" tappable >
                        </div>
                      </ion-item>
                      <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                        <div style='width : 100vw; height : 141vw; background : black; '>
                          
                          <img #maba5 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL1.jpg" tappable >
                          
                          <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify;  ' >
                            
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa diusahakan membawa Masker.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa Baru DILARANG KERAS membuang sampah sembarangan.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa Baru WAJIB membersihkan sisa makanannya sendiri.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa Baru WAJIB mengenal satu sama lain. 
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa baru WAJIB menerapkan 5S (Senyum, salam, sapa, sopan, dan santun) kepada seluruh civitas academica UNS.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa Baru WAJIB berpakaian sopan sesuai dengan tingkat kesopanan menurut fakultas masing-masing dan peraturan yang berlaku.
                            </p>
                            <p style='font-size : 3.6vw; '>
                                •	Mahasiswa Baru WAJIB mengikuti peraturan yang ada dan bersedia menanggung sanksi dari fakultas masing-masing yang diberikan jika melanggar.
                            </p>
                            <br>
                            <p style='font-size : 3.6vw; '>
                                <i>Semua tata tertib masih mengikuti ketentuan tambahan sesuai peraturan masing-masing fakultas</i>
                            </p>
                          </div>
                          <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/4.png" tappable >
                        </div>
                      </ion-item>
                      <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                          <div style='width : 100vw; height : 141vw; background : black; '>
                            
                            <img #maba6 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL3.jpg" tappable >
                            <div style='width: 100%; height : 100%; padding-top : 3vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                              <p style='font-size : 5vw; font-family : roboto;
                              background: -webkit-linear-gradient(rgb(184, 230, 20), rgb(214, 211, 4));
                              -webkit-background-clip: text;
                              -webkit-text-fill-color: transparent; font-weight: bold;'>LAGU WAJIB DIHAFAL</p>
                            </div>
                            <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; ' >
                              <p style='font-size : 3.6vw; text-indent: 5vw; '>
                                Lagu wajib untuk mahasiswa baru terdiri dari 4 lagu yaitu Indonesia Raya 3 Stanza, Mars UNS, HIMNE UNS, dan Mars Mahasiswa. Kewajiban mahasiswa baru untuk menghafal lagu-lagu tersebut memiliki tujuan agar mahasiswa bisa memiliki rasa kepemilikan dan kebanggan terhadap UNS. Karena sifatnya yang seperti itu diharapkan Mahasiswa baru menghafalkan lagu tersebut.
                              </p>
                              <br>
                            
                              <p style='font-size : 3.6vw; width:100%; text-align : center; font-weight: bold; text-decoration : underline;'>LAGU INDONESIA RAYA 3 STANZA</p>
                              <br>
                              <p style='font-size : 3.6vw; width:100%; text-align : center; font-weight: bold;'>Stanza 1</p>
                              <br>
                              <div style='text-align : left; font-size : 3.6vw;'>
                                      <p>Indonesia tanah airku, tanah tumpah darahku</p>
                                      <p>Di sanalah aku berdiri, jadi pandu ibuku</p>
                                      <p>Indonesia kebangsaanku, bangsa dan tanah airku</p>
                                      <p>Marilah kita berseru Indonesia bersatu</p>
                                      <p>Hiduplah tanahku, hiduplah negeriku</p>
                                      
                              </div>
                                      
                                
                            </div>
                            <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/5.png" tappable >
                          </div>
                        </ion-item>
                        <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                          <div style='width : 100vw; height : 141vw; background : black; '>
                            
                            <img #maba7 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL1.jpg" tappable >
                            <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; ' >
                              
                              <div style='text-align : left; font-size : 3.6vw;'>
                                      
                                      <p>Bangsaku, rakyatku, semuanya</p>
                                      <p>Bangunlah jiwanya, bangunlah badannya</p>
                                      <p>Untuk Indonesia Raya</p>
                                      <p>Indonesia Raya, merdeka merdeka</p>
                                      <p>Tanahku, negeriku yang kucinta</p>
                                      <p>Indonesia Raya, merdeka merdeka</p>
                                      <p>Hiduplah Indonesia Raya</p>

                              </div>
                              <br>
                              <p style='font-size : 3.6vw; width:100%; text-align : center; font-weight: bold;'>Stanza 2</p>
                              <br>
                              <div style='text-align : left; font-size : 3.6vw;'>
                                        
                                  <p>Indonesia tanah yang mulia, tanah kita yang kaya</p>
                                  <p>Di sanalah aku berdiri, untuk selama-lamanya</p>
                                  <p>Indonesia tanah pusaka, pusaka kita semuanya</p>
                                  <p>Marilah kita mendoa Indonesia bahagia</p>
                                  <p>Suburlah tanahnya, suburlah jiwanya</p>
                                  <p>Bangsanya, rakyatnya, semuanya</p>
                                  <p>Sadarlah hatinya, sadarlah budinya</p>
                                  <p>Untuk Indonesia Raya</p>
                                  <p>Indonesia Raya, merdeka merdeka</p>
                                  <p>tanahku, negeriku yang kucinta</p>
                                  

                              </div>    
                                
                            </div>
                            <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/7.png" tappable >
                          </div>
                        </ion-item>
                        <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                          <div style='width : 100vw; height : 141vw; background : black; '>
                            
                            <img #maba8 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL2.jpg" tappable >
                            <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; ' >
                              
                                <div style='text-align : left; font-size : 3.6vw;'>
                                    <p>Indonesia Raya, merdeka merdeka</p>
                                    <p>Hiduplah Indonesia Raya</p>
  
                                </div>    
                              <br> 
                              <p style='font-size : 3.6vw; width:100%; text-align : center; font-weight: bold;'>Stanza 3</p>
                              <br>
                              <div style='text-align : left; font-size : 3.6vw;'>
                                        
                                  <p>Indonesia tanah yang suci, tanah kita yang sakti</p>
                                  <p>Di sanalah aku berdiri, menjaga ibu sejati</p>
                                  <p>Indonesia tanah berseri, tanah yang aku sayangi</p>
                                  <p>Marilah kita berjanji, Indonesia abadi</p>
                                  <p>Slamatkan rakyatnya, slamatkan puteranya</p>
                                  <p>Pulaunya, lautnya, semuanya</p>
                                  <p>Majulah negerinya, majulah pandunya untuk Indonesia Raya</p>
                                  <p>Indonesia Raya, merdeka merdeka</p>
                                  <p>Tanahku, negeriku, yang kucinta</p>
                                  <p>Indonesia Raya, merdeka merdeka</p>
                                  <p>Hiduplah Indonesia Raya</p>


                              </div>    
                              <br>
                              
                                
                            </div>
                            <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/8.png" tappable >
                          </div>
                        </ion-item>
                        <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                            <div style='width : 100vw; height : 141vw; background : black; '>
                              
                              <img #maba8 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL2.jpg" tappable >
                              <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; ' >
                              <p style='font-size : 3.6vw; width:100%; text-align : center; font-weight: bold; text-decoration : underline;'>MARS UNS</p>
                              <br>
                              <div style='text-align : left; font-size : 3.6vw;'>
                                        
                                  <p>Universitas Sebelas Maret kami</p>
                                  <p>Mengemban tugas luhur dan suci</p>
                                  <p>(mengemban tugas suci)</p>
                                  <p>Universitas Sebelas Maret Kami</p>
                                  <p>Di bawah panji Pancasila</p>
                                  <p>Di dalam kiprahnya tri dharma pedomannya</p>
                                  <p>dengan tempaan semangat yang membaja</p> 
                                    <p>Demi keagungan dan keluhuran</p>
                                    <p>Almamater Sebelas Maret, </p>
                                    <p>almamater tercinta</p>
                                    <p>Universitas Sebelas Maret kami</p>
                                    <p>Teguh tegakkan langkah mu</p>
                                    <p>(tegakkan langkah mu)</p>
                                    <p>Universitas Sebelas Maret kami</p>
                                    <p>Semoga jaya selama-lamanya.</p>
                                </div> 
                                <br>
                                
                                </div>
                              <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/8.png" tappable >
                            </div>
                          </ion-item>
                          <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                            <div style='width : 100vw; height : 141vw; background : black; '>
                              
                              <img #maba8 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL2.jpg" tappable >
                              <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; ' >
                                  <p style='font-size : 3.6vw; width:100%; text-align : center; font-weight: bold; text-decoration : underline;'>HYMNE UNS</p>
                                  <br>
                                  <div style='text-align : left; font-size : 3.6vw;'>   
                                      <p>Universitas Sebelas Maret kami</p>
                                      <p>Kami akan selalu berbakti</p>
                                      <p>Universitas Sebelas Maret Kami</p>
                                      <p>Diluhurkan lah, namamu</p>
                                      <p>Pancasila serta Tri Dharma menjadi dasar landasannya</p>
                                      <p>Semoga jaya, semoga abadi</p>
                                      <p>Almamater kami tercinta</p>
                                  </div>
                                  <br>
                                <p style='font-size : 3.6vw; width:100%; text-align : center; font-weight: bold; text-decoration : underline;'>MARS MAHASISWA</p>
                                <br>
                                <div style='text-align : left; font-size : 3.6vw;'>   
                                     
                                    <p>Kepada para mahasiswa </p>
                                    <p>Yang merindukan kejayaan  </p>
                                    <p>Kepada rakyat yang kebingungan </p> 
                                    <p>Di persimpangan jalan </p>
                                    <p>Kepada pewaris peradaban</p>  
                                    
                                    
                                </div>
                                
                                </div>
                              <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/8.png" tappable >
                            </div>
                          </ion-item>
                          <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                            <div style='width : 100vw; height : 141vw; background : black; '>
                              
                              <img #maba8 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL2.jpg" tappable >
                              <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; ' >
                                  
                                <div style='text-align : left; font-size : 3.6vw;'>   
                                    
                                    <p>Yang telah menggoreskan </p> 
                                    <p>Sebuah catatan kebanggaan </p> 
                                    <p>Di lembar sejarah manusia </p>
                                    <p>Wahai kalian yang rindu kemenangan </p>
                                    <p>Wahai kalian yang turun ke jalan </p>
                                    <p>Demi mempersembahkan jiwa dan raga </p>
                                    <p>Untuk negeri tercinta</p>

                                </div>
                                <br>
                                <p style='font-size : 3.6vw; text-align: justify; text-indent: 5vw'>Semua ketentuan lagu wajib hafal masih mengikuti ketentuan tambahan sesuai peraturan masing-masing fakultas</p>
                                </div>
                              <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/8.png" tappable >
                            </div>
                          </ion-item>
                          <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                        <div style='width : 100vw; height : 141vw; background : black; '>
                          
                          <img #maba2 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL1.jpg" tappable >
                          
                          <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                            <p style=' background: -webkit-linear-gradient(rgb(184, 230, 20), rgb(214, 211, 4));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent; display: flex!important;
     
     align-items: center!important; font-size : 7vw; width : 100%; height : 100%; text-align : center; font-weight: bold; '>
                              MATERI PKKMB
                            </p>
                          </div>
                          <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/1.png" tappable >
                        </div>
                      </ion-item>
                      <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                        <div style='width : 100vw; height : 141vw; background : black; '>
                          
                          <img #maba2 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL1.jpg" tappable >
                          <div style='width: 100%; height : 100%; padding-top : 3vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                            <p style='font-size : 5vw; font-family : roboto;
                            background: -webkit-linear-gradient(rgb(184, 230, 20), rgb(214, 211, 4));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent; font-weight: bold;'>Sejarah UNS</p>
                          </div>
                          <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                            <p style='font-size : 3.6vw;'>
                                Tahun 1950-an, keinginan untuk mendirikan universitas negeri di Solo muncul. Namun universitas dambaan warga Solo tak kunjung terbentuk akibat berbagai faktor mulai  dari perang politik hingga finansial.
                            </p>
                            <p style='font-size : 3.6vw; ' >
                                Sepuluh tahun berlalu, tepatnya tahun 1966, harapan warga surakarta untuk memiliki universitas negeri mulai tampak nyata ketika Universitas Nasional Saraswati mengajukan diri menjadi universitas negeri. 
                            </p>
                            <p style='font-size : 3.6vw; ' >
                                Menindak lanjuti keinginan Universitas Negeri Saraswati untuk menjadi universitas negeri, pada 1 Juni 1975, universitas swasta dan kedinasan di solo raya bersatu membentuk Universitas Gabungan Surakarta (UGS).
                            </p>
                            <p style='font-size : 3.6vw; ' >
                                11 Maret 1976, Menteri pendidikan dan kebudayaan memastikan UGS akan di negerikan. Selanjutnya UGS akan digabung dengan perguruan tinggi negeri dan swasta lain untuk membentuk universitas negeri di Solo. Gabungan antara UGS dengan perguruan tinggi negeri dan swasta inilah yang menjadi cikal bakal terbentuknya UNS.
                            </p>
                          </div>
                          <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/1.png" tappable >
                        </div>
                      </ion-item>
                      <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                        <div style='width : 100vw; height : 141vw; background : black; '>
                          <img #maba2 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL1.jpg" tappable >
                          <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                            <p style='font-size : 3.6vw; ' >
                                11 Maret 1976, Universitas Negeri Surakarta Sebelas Maret resmi berdiri dan sejak tahun 1977, UNS memiliki kampus induk terpadu di Kentingan, Jebres, Surakarta seluas + 60 ha. Dalam perkembangannya, pada tahun 1982 nama dan singkatan Universitas Negeri Surakarta Sebelas Maret Surakarta (UNS Sebelas Maret), ditetapkan menjadi Universitas Sebelas Maret yang disingkat UNS.
                            </p>
                            <p style='font-size : 3.6vw; ' >
                                Universitas Sebelas Maret awalnya memiliki 9 fakultas, yaitu Fakultas Ilmu Pendidikan, Fakultas Keguruan, Fakultas Sastera Budaya, Fakultas Sosial Politik, Fakultas Hukum, Fakultas Ekonomi, Fakultas Kedokteran, Fakultas Pertanian serta Fakultas Teknik.
                            </p>
                          </div>
                          <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/1.png" tappable >
                        </div>
                      </ion-item>
                      <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                          <div style='width : 100vw; height : 141vw; background : black; '>
                            
                            <img #maba2 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL1.jpg" tappable >
                            <div style='width: 100%; height : 100%; padding-top : 3vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                              <p style='font-size : 5vw; font-family : roboto;
                              background: -webkit-linear-gradient(rgb(184, 230, 20), rgb(214, 211, 4));
                              -webkit-background-clip: text;
                              -webkit-text-fill-color: transparent; font-weight: bold;'>Makna Logo UNS</p>
                            </div>
                            <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                              <div style=' width : 100%; height : 40vw; '>
                                  <ion-grid>
                                      <ion-row>
                                        <ion-col text-center size="6" offset="3">
                                            <img #maba2 style='height : 40vw; width: 40vw; ' src="assets/img/uns-logo.png" tappable >
                                        </ion-col>
                                      </ion-row>
                                  </ion-grid>
                                  
                              </div>
                              <br>
                              <p style='font-size : 3.6vw;'>
                                  bunga dengan 4 daun bunga sebagai visualisasi bangsa, yang berarti pendidikan putra-putri bangsa yang kelak akan mengharumkan nama bangsa & negara, 
                                
                              </p>
                              <p style='font-size : 3.6vw; '>
                               
                                  Tiga daun bunga merupakan pengejawantahan Tri Dharma Perguruan Tinggi, dan gerigi yang berujung lima pada daun bunga di bawah merupakan lambang kelima sila dari Pancasila; garis tepi yang tidak terputus-putus merupakan gambaran dari kesatuan dan persatuan warga Universitas.
                              </p>
                              
                              
                            </div>
                            <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/1.png" tappable >
                          </div>
                        </ion-item>
                        <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                          <div style='width : 100vw; height : 141vw; background : black; '>
                            
                            <img #maba2 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL1.jpg" tappable >
                            
                            <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                                <p style='font-size : 3.6vw; ' >
                                    Bentuk kepala putik bunga digambarkan sebagai Wiku yang berasal dari bahasa Pali , yang kurang lebih bermakna orang yang berilmu. Wiku dengan nyala api di pusat wajahnya  melambangkan pancaran pikiran yang penuh kebijaksanaan, kearifan dan keluhuran budi serta sinar keabadian ilmu pengetahuan.
                                </p>
                                <p style='font-size : 3.6vw; ' >
                                    Rangkaian kata yang melingkar merupakan candra sengkala yang masing-masing mengandung makna: mangesthi berarti angka 8, luhur berarti angka 0, ambangun berarti angka 9, dan nagara berarti angka 1; dengan dibaca dari belakang menunjukkan angka 1908, yaitu tahun Jawa ketika berdirinya Universitas  pada tahun masehi 1976; praba yang melingkar dan bersinar melambangkan pancaran kesucian dan keluhuran budi.
                                </p>
                                <p style='font-size : 3.6vw; ' >
                                    Kesatuan hal-hal tersebut berada di dalam lingkaran yang bertuliskan Universitas Sebelas Maret dan singkatan UNS. Warna biru langit melambangkan ikrar kesetiaan dan kebaktian kepada Negara, Bangsa dan Ilmu Pengetahuan.
                                </p>
                            </div>
                            <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/1.png" tappable >
                          </div>
                        </ion-item>
                        <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                          <div style='width : 100vw; height : 141vw; background : black; '>
                            
                            <img #maba2 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/HAL1.jpg" tappable >
                            
                            <div style='width: 100%; height : 100%; padding-top : 15vw; padding-bottom : 10vw; padding-left : 10vw; padding-right : 10vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                                <p style='font-size : 3.6vw; ' >
                                    Secara keseluruhan lambang UNS memvisualisasikan cita-cita luhurnya untuk membangun bangsa, Candra Sangkala itu seolah Praba yang bersinar, Praba dalam sejarah agama & pewayangan dipakai oleh orang suci, bijaksana dan berbudi luhur. Pusat lambang itu adalah otak Wiku (orang yang berilmu) yang digambarkan sebagai nyala api, mengisyaratkan sinar keabadian ilmu pengetahuan yang menerangi menuju pensejahteraan manusia. Warna biru laut merupakan ikrar kesetiaan dan kebaktian terhadap bangsa, negara, tanah air dan ilmu pengetahuan.
                                </p>
                                
                            </div>
                            <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/1.png" tappable >
                          </div>
                        </ion-item>
                        <ion-item style='--padding-start: 0;   --inner-padding-end: 0;'>
                          <div style='width : 100vw; height : 141vw; background : black; '>
                            
                            <img #maba2 style='height : 100%; width: 100%; position : absolute; top : 0; left : 0;' src="assets/img/MAP.jpg" tappable >
                            
                            <div style='width: 100%; height : 100%; padding-top : 100vw; padding-bottom : 10vw; padding-left : 2vw; padding-right : 2vw; position : absolute;  color : white; text-align : justify; text-indent: 5vw; ' >
                            
                              <p style='font-size : 3.6vw; text-indent : 0;'>Selain UNS kentingan ada juga :</p>
                              <p style='font-size : 3.6vw; text-indent : 0;'>1.	Kampus Pabelan (FKIP )</p>
                              <p style='font-size : 3.6vw; text-indent : 0;'>2.	Kampus Mesen (FSRD)</p>
                              <p style='font-size : 3.6vw; text-indent : 0;'>3.	Kampus UNS Kebumen (PGSD Kebumen)</p>
                              <p style='font-size : 3.6vw; text-indent : 0;'>4.	Kampus UNS Kleco (PGSD Surakarta dan PG PAUD)</p>
                              <p style='font-size : 3.6vw; text-indent : 0;'>5.	Kampus UNS Ngoresan (P.Bahasa Jawa dan P.Seni Rupa)</p>
                              <p style='font-size : 3.6vw; text-indent : 0;'>6.	Kampus Manahan (FKOR)</p>

                              
                              
                     
                              
                            </div>
                            <img style='height : 10vw; width: 10vw; position : absolute; top : 131vw; left : 90vw;' src="assets/img/1.png" tappable >
                          </div>
                        </ion-item>
                    </ion-list>
                  </ion-card-content>
                </ion-card>
              </ion-content>
          </ion-slide>
          <ion-slide>
              <ion-content> 
                  <ion-fab vertical="top" horizontal="end" slot="fixed">
                    <ion-fab-button>
                      <ion-menu-button><ion-icon name='menu'></ion-icon></ion-menu-button>
                    </ion-fab-button>
                  </ion-fab>
                  <ion-card style=' margin-left : 0vw; margin-top : 0vw; margin-right : 0vw; margin-bottom : 0vw; margin-inline-start: 0vw; margin-inline-end: 0vw; padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>
                    <ion-card-content style='margin-left : 0vw; margin-top : 0vw; margin-right : 0vw; margin-bottom : 0vw; margin-inline-start: 0vw; margin-inline-end: 0vw; padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>
                      <ion-list style=' margin-left : 0vw; margin-top : 0vw; margin-right : 0vw; margin-bottom : 0vw; margin-inline-start: 0vw; margin-inline-end: 0vw; padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>
                            <ion-item>
                              <img #kambing1 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing2 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item >
                              <img #kambing3 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing4 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing5 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing6 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing7 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing8 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item >
                              <img #kambing9 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing10 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing11 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing12 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing13 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing14 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item >
                              <img #kambing15 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing16 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing17 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing18 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing19 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                            <ion-item>
                              <img #kambing20 style='height : 100%; width: 100vw' src="assets/img/1.png" tappable >
                            </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </ion-content>
          </ion-slide>
        
      </ion-slides>
      
  
    
</ion-content>
