<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title class="philosopher">Tentang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style='padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>
    <ion-row>
        <ion-fab>
          <div style='z-index : 1000; background : url(assets/img/batikcover.png); width : 100vw; height : 50vw; background-size: cover'>
            <ion-grid>
              <ion-row>
                <ion-col text-center size="6" offset="3">
                    <img style='height : 20vw; width: 20vw' src="assets/img/headerLogoTentang.png" tappable >
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center size="6" offset="3">
                    <ion-label style='font-family : roboto'>PKKMB UNS 2019</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center size="6" offset="3">
                    <ion-label>Sinergi Ksatria Nagari</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-fab>
      <ion-col style='background : black; padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>

          
          <ion-slides [options]='sliderOpts' style=' width : 100vw; height : 50vw; background-size: cover'>
           
            <ion-slide>
                <div style='background : url(assets/img/unscover.png); width : 100vw; height : 50vw; background-size: cover '><div style='background : rgba(0, 0, 0, 0.4); width : 100vw; height : 50vw; '></div></div>
            </ion-slide>
            <ion-slide>
                <div style='background : url(assets/img/unscover2.png); width : 100vw; height : 50vw; background-size: cover '><div style='background : rgba(12, 98, 109, 0.363); width : 100vw; height : 50vw; '></div></div>
            </ion-slide>
            <ion-slide>
                <div style='background : url(assets/img/unscover.png); width : 100vw; height : 50vw; background-size: cover '><div style='background : rgba(12, 98, 109, 0.363); width : 100vw; height : 50vw; '></div></div>
            </ion-slide>
            <ion-slide>
                <div style='background : url(assets/img/unscover2.png); width : 100vw; height : 50vw; background-size: cover '><div style='background : rgba(12, 98, 109, 0.363); width : 100vw; height : 50vw; '></div></div>
            </ion-slide>
            <ion-slide>
                <div style='background : url(assets/img/unscover.png); width : 100vw; height : 50vw; background-size: cover '><div style='background : rgba(12, 98, 109, 0.363); width : 100vw; height : 50vw; '></div></div>
            </ion-slide>
          </ion-slides>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style='background : black; padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>
        <div style='background : green; width : 100vw; height : 50vw'></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style='background : black; padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>
        <div style='background : green; width : 100vw; height : 50vw'></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style='background : black; padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>
        <div style='background : green; width : 100vw; height : 50vw'></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style='background : black; padding-left : 0vw; padding-top : 0vw; padding-right : 0vw; padding-bottom : 0vw;'>
        <div style='background : green; width : 100vw; height : 50vw'></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
