<ion-header>

</ion-header>

<ion-content padding-top>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <ion-button expand="full" *ngIf="define1" (click)="login()">login~</ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <ion-button expand="full" *ngIf="define1" (click)="activate()">Aktivasi Akun</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="define2" >
    <ion-grid>
      <ion-row padding-bottom justify-content-center align-items-center>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Color_icon_blue.svg/256px-Color_icon_blue.svg.png">
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="text" clearInput="true" placeholder="Username" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" clearInput="true" placeholder="Password" required=true></ion-input>
          </ion-item>
          <ion-button expand="block" (click)="loginUser()">login</ion-button>
          <div text-center>
            <p>Belum aktivasi? <a (click)="activate()">aktivasi akun</a> terlebih dahulu.</p>
            <p>atau kembali ke <a (click)="backto()">halaman depan</a></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="define3">
    <ion-item>
      <ion-input type="text" clearInput="true" placeholder="Nomor Pendaftaran (ID)" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" clearInput="true" placeholder="Kode Aktivasi" required="true"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="loginUser()">Aktivasi</ion-button>
    <div text-center>
      <p>Sudah aktivasi? langsung ke halaman <a (click)="login()">login.</a></p>
      <p>atau kembali ke <a (click)="backto()">halaman depan</a></p>
    </div>
  </div>

</ion-content>