<style>
  @import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
</style>

<ion-header>
  <ion-toolbar size="large">
    <ion-title class="ion-text-center"><b>PKKMB UNS 2019</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide *ngFor="let mage of ads">
      <img src="{{ mage }}">
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="end" margin>
          <ion-avatar>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Color_icon_blue.svg/256px-Color_icon_blue.svg.png">
          </ion-avatar>
        </ion-thumbnail>
        <ion-label>
          <ion-card-subtitle>Selamat datang,</ion-card-subtitle>
          <ion-card-title>Nama Orang</ion-card-title>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" class="butt0" routerLink="/presensi">Presensi</ion-button>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of menu">
          <ion-col class="square" *ngFor="let it of item">
            <ion-button class="butt" routerLink="/{{ it.route }}"  >
              <ion-label>
                <ion-icon name="{{ it.name }}"></ion-icon>
                <div>{{ it.title }}</div>
              </ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-title class="ion-text-center">Daftar Agendamu~</ion-title>
    </ion-list-header>
    <ion-item-group>
      <ion-item-divider color="light">
        <ion-label>Agenda Saat ini</ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-label>Pramuka</ion-label>
      </ion-item>
      <ion-item-divider color="light">
        <ion-label>Agenda Terdekat Nanti</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Mandi</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mandi lagi</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>