<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Profil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content margin>
    <ion-card button="true">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Color_icon_blue.svg/256px-Color_icon_blue.svg.png">
    </ion-card>
    <ion-item>
      <ion-icon name="add" slot="start"></ion-icon>
      <ion-label>
        <h4>Nomor</h4>
        <p>1234567890</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-input>Mak Wo Ouwo</ion-input>
    </ion-item>
  </ion-content>